*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'PAcifico',cursive;
  font-weight: 400;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, pink 30%, cyan); }

.title {
  font-size: 8rem;
  background-image: linear-gradient(82deg, white 20%, lime);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: darkgreen;
  -webkit-text-stroke-width: 1px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1rem;
  transform: translateY(30%); }
  @media screen and (max-width: 1400px) {
    .title {
      font-size: 8rem;
      transform: translateY(50%);
      letter-spacing: 0.5rem; } }
  @media screen and (max-width: 950px) {
    .title {
      font-size: 8rem;
      transform: translateY(50%);
      letter-spacing: 0.4rem; } }
  @media screen and (max-width: 730px) {
    .title {
      font-size: 7.2rem;
      transform: translateY(50%);
      letter-spacing: 0.4rem; } }
  @media screen and (max-width: 525px) {
    .title {
      font-size: 6.6rem;
      transform: translateY(50%);
      letter-spacing: 0.2rem; } }
  @media screen and (max-width: 450px) {
    .title {
      font-size: 5.4rem;
      letter-spacing: 0.3rem;
      transform: translateY(55%); } }
  @media screen and (max-width: 390px) {
    .title {
      font-size: 4.7rem;
      letter-spacing: 0.3rem;
      transform: translateY(55%); } }

#scoreboard {
  color: wheat;
  -webkit-text-stroke: orange;
  -webkit-text-stroke-width: 4px;
  font-size: 5rem;
  position: absolute;
  top: 47%;
  left: 75%;
  font-family: sans-serif; }
  @media screen and (max-width: 1400px) {
    #scoreboard {
      top: 20%;
      left: 50%;
      transform: translateX(-50%); } }
  @media screen and (max-width: 730px) {
    #scoreboard {
      -webkit-text-stroke-width: 2px;
      font-size: 4rem; } }
  @media screen and (max-width: 525px) {
    #scoreboard {
      font-size: 3.6rem;
      top: 24%; } }
  @media screen and (max-width: 440px) {
    #scoreboard {
      top: 22%;
      font-size: 3rem;
      -webkit-text-stroke-width: 1px; } }
  @media screen and (max-width: 390px) {
    #scoreboard {
      font-size: 2.4rem;
      top: 21%; } }

#score {
  font-size: 7rem;
  color: white;
  -webkit-text-stroke: orange;
  -webkit-text-stroke-width: 4px; }
  @media screen and (max-width: 730px) {
    #score {
      font-size: 5rem; } }
  @media screen and (max-width: 440px) {
    #score {
      font-size: 5rem; } }
  @media screen and (max-width: 390px) {
    #score {
      font-size: 4.2rem; } }

.link, .link:visited {
  text-decoration: none;
  color: white;
  -webkit-text-stroke: violet;
  -webkit-text-stroke-width: 2px;
  font-size: 4rem;
  transition: all 0.2s; }

.link:hover {
  font-size: 5rem; }

.tenplus {
  color: white;
  -webkit-text-stroke: violet;
  -webkit-text-stroke-width: 5px;
  font-size: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 6rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-strikethrough {
  text-decoration: line-through;
  color: red; }

.button {
  background-color: pink;
  padding: 1rem 3rem;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
  text-align: center; }

#canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -35%);
  border: yellow 10px dashed; }
  @media screen and (max-width: 1400px) {
    #canvas {
      transform: translate(-50%, -30%); } }
  @media screen and (max-width: 600px) {
    #canvas {
      border: yellow 5px dashed; } }

.snakeLogo {
  height: 60vh;
  width: 60vh;
  background-image: url(../img/snake.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 5%;
  top: 25%; }
  @media screen and (max-width: 1440px) {
    .snakeLogo {
      visibility: hidden; } }

#popup {
  background-color: rgba(0, 0, 139, 0.4);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden; }

#popupscore {
  background-color: rgba(255, 165, 0, 0.1);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden; }

.gameover {
  height: 15vh;
  width: 20vw;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../img/gameover.png);
  background-size: cover;
  background-position: center; }
